{%- doc -%}
  Renders an account button.

  @param {string} [tag] - The tag to use
  @param {string} [popover_id] - The id of the popover to target
  @param {string} [popover_action] - The id of the popover to target
  @param {string} [attributes] - Additional attributes to add to the tag
{%- enddoc -%}

{%- assign tag = tag | default: 'button' -%}
<{{ tag }}
  class="account-button header-actions__action"
  aria-label="{{ 'accessibility.account' | t }}"
  aria-haspopup="dialog"
  {%- if popover_id -%}
    popovertarget="{{ popover_id }}"
    popovertargetaction="{{ popover_action | default: 'toggle' }}"
  {%- endif -%}
  ref="trigger"
  {{ attributes }}
>
  {%- if customer.has_avatar? -%}
    {{ customer | avatar }}
  {%- elsif customer.first_name or customer.email -%}
    {%- liquid
      assign initial = customer.email | first

      if customer.first_name != blank
        assign initial = customer.first_name | first
      endif
    -%}
    <span
      class="account-button__avatar"
      aria-hidden="true"
    >
      {{- initial -}}
    </span>
  {%- else -%}
    <span
      class="account-button__icon"
      aria-hidden="true"
    >
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
  {%- endif -%}
</{{ tag }}>

{% stylesheet %}
  .account-button {
    color: var(--color-foreground);
    appearance: none;
    border: none;
    background: none;
    height: var(--button-size);
    width: var(--button-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transition: color var(--animation-speed) var(--animation-easing);
    anchor-name: --account-button-trigger;
  }

  .account-button__avatar {
    --account-button-size: 1.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--account-button-size);
    height: var(--account-button-size);
    border-radius: var(--style-border-radius-50);
    background-color: var(--color-primary-button-background);
    font-size: var(--font-size--xs);
    font-weight: 500;
    color: var(--color-primary-button-text);
    text-transform: uppercase;
    line-height: 1;
  }

  .account-button__icon {
    color: currentColor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  /* The shop avatar doesn't bubble the click event up to our button, so we need to prevent that or the button doesn't work */
  .account-button shop-user-avatar {
    pointer-events: none;
  }
{% endstylesheet %}
